Babel==2.12.1
colorlog==6.7.0
Jinja2==3.1.2
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-dataclass==8.5.14
mypy-extensions==1.0.0
oak-build==0.1.2.post2
ordered-set==4.1.0
packaging==23.1
PyLaTeX==1.4.1
PyYAML==6.0
rusty-results==1.1.1
toposort==1.10
typeguard==4.0.0
typing-inspect==0.9.0
typing_extensions==4.6.2
